.page-logo {
    display: inline-block;
    height: 50px;
    width: 50px;
}

@media (min-width: 768px) {
    .page-logo {
        height: 80px;
        width: 80px;
    }
}

@media (min-width: 1024px) {
    .page-logo {
        height: 120px;
        width: 120px;
    }
}