
.page-title {
    margin: 0 10px;
}

.page-title-text {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.page-title-text.-hide-sm {
    display: none;
}

@media (min-width: 768px) {
    .page-title-text.-hide-sm {
        display: inline;
    }

    .page-title-text.-hide-md-up {
        display: none;
    }
}

@media (min-width: 1024px) {
    .page-title-text {
        font-size: 55px;
    }
}